doctype html
html
  head
    title= "ppt-museum"
  body
    for slide in slides
      table
        tr
          td
            a(href="/ppt-museum/slide/#{slide.id}") #{slide.title}
          td #{slide.description}
          td #{slide.id}
          td
            img(src="/ppt-museum/thumbnail/#{slide.id}", width="64", height="48"))
    p
      a(href="/ppt-museum/upload") upload
    :js
      var PDFURL = "/ppt-museum/pdf/example.pdf";
    script(src='/ppt-museum/js/pdf.js-controller.js')

